body{
    background-image: url(./kitchen-appliances-safety-standards-eu.jpg);
background-repeat: no-repeat;
position: center;
background-attachment: fixed;
background-size: cover;
min-height: 100%;

}
.kin{
    background-color: rgb(158, 49, 49);
    border: 2px solid rgb(158, 49, 40);
    text-align: center;
 color: black;
 margin-top: 50px;
 height: 200%;
padding-top: 10rem;
padding-bottom: 10rem;
font-weight: bolder;

}