nav{
    background-color: red;
    height: 40rem;
    background-image: url(./download.png);

}
.wed{
    list-style-type: none;
    float: left;
    margin-top: 1rem;
    margin-left:  5rem; 
    font-family: 'Rubik Glitch', cursive;
    color: white;
    opacity: 1.0;
}
.para{
    float:left;
    margin-top: 20rem;
    margin-left: 1rem;
    color: white;
    margin-right: 25rem;
    font-size: x-large;
    font-family: 'Rubik Glitch', cursive;

    
    
}
.button{
    float:left;
    margin-top: 1rem;
    margin-left: 1rem;
    margin-right: 25rem;
    cursor: pointer;
    padding: 1rem;
background-color: blue;
color: white;
border: 1px solid blue;
display: inline;
font-family: 'Grape Nuts', cursive;
border-radius: 1rem;
}

.button:hover{
    color: red;



}
.icon{
    list-style-type: none;
    float: right;
    margin-top: 1rem;
    margin-left:  2rem; 
    font-family: 'Rubik Glitch', cursive;
    color: white;
    opacity: 1.0;
    margin-right: 5rem;

}
h1{
    border: 2px red solid;
    margin-left: 2rem;
    box-sizing: border-box;
    background-color: red;
    margin-right: 75rem;
    
}


.blog{
    float: right;
    margin-right: 20rem;
}
  

.LIST{
    list-style-type: none;
    margin-left: 2rem;
}
.freda{
    float: right;
    margin-right: 20rem;
}
.uni{
    list-style-type: none;
    float: right;
    position: relative;
    margin-left: 80rem;
    margin-top: -51rem;
    margin-right: 2rem;
    
}

.niga{
    list-style-type: none;
    float: right;
    position: relative;
    margin-left: 80rem;
    margin-top: -32rem;
    margin-right: 2rem;

}
.weed{

    list-style-type: none;
    float: right;
    position: relative;
    margin-left: 80rem;
    margin-top: -15rem;
    margin-right: 2rem;
}
.font{
    
    font-size: 15px;
}
.good{
    margin-left: 25rem;
    margin-top: 10rem;
    border: 5px solid red;
    margin-right: 20rem;
}
#god{
    text-align: center;
    padding: 7rem;
    font-family: 'Rubik Glitch', cursive;
    background-color: aqua;
}
   footer{
       background-color: red;
       height: 15rem;
       margin-top: 5rem;
       
   } 
   .foot{

    list-style-type: none;
    border-left: 3px solid black;
   margin-top: 1rem;
   font-family: 'Rubik Glitch', cursive;
   
   }
      
  